.titular {
  font-size: 24px;
}

.precio {
  font-size: 18px;
}

.descuento {
  margin-left: 5%;
  font-size: 18px;
  color: #39b54a;
}

.descripcion {
  opacity: 0;
  transition: 0.5ms;
}

main {
  color: #666;
  width: 90vw;
  margin: auto;
  margin-top: 10px;
}

article {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-box {
  background-color: white;
  border-top: 1px #ebebeb solid;
  padding: 15px;
}

.precio-descuento {
  display: flex;
}

li {
  list-style-type: none;
}

.offer-box {
  background-color: white;
  border-top: 1px #ebebeb solid;
  padding: 15px;
}

.fa-truck {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  color: #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  left: 85%;
  bottom: 30px;
}
.fa-truck:hover {
  transform: rotate(-90deg);
}

img {
  width: 100%;
}

@media (min-width: 768px) {
  .descripcion {
    display: block;
    font-size: 16px;
    padding-top: 8px;
  }

  article {
    box-shadow: none;
    width: 40%;
    margin: 20px;
  }
  article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .offer-box {
    flex-wrap: wrap;
  }

  .s-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .s-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .article-box:hover .descripcion {
    opacity: 1;
  }

  .offer-box:hover .descripcion {
    opacity: 1;
  }
}

@media (min-width: 1280px) {
  .descripcion {
    display: block;
    font-size: 16px;
    padding-top: 8px;
  }

  article {
    box-shadow: none;
    width: 20%;
    margin: 20px;
  }
  article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .s-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .s-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .article-box:hover .descripcion {
    opacity: 1;
  }

  .offer-box:hover .descripcion {
    opacity: 1;
  }
}
