<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mercado Liebre</title>
   <link rel="stylesheet" href="/css/styles.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>
   <header>
      <div class="top-bar">
         <img class="logo" src="/assets/images/logo-mercado-liebre.svg" alt="logotipo">

         <div class="search-bar">
            <div class="container">
               <div class="search_wrap search_wrap_1">
                  <div class="search_box">
                     <input type="text" class="input" placeholder="Buscar productos, marcas y más">
                     <div class="btn btn_common">
                        <i class="fas fa-search"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <h2 class="line-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjetas de crédito
         </h2>
      </div>

      <a href="#" class="burger-menu">
         <i class="fas fa-bars"></i>
      </a>

      <nav>
         <div class="first-nav">
            <a href="#">Ofertas</a>
            <a href="#">Tiendas oficiales</a>
            <a href="#">Vender</a>
            <a href="#">Ayuda</a>
         </div>

         <div class="second-nav">
            <a href="http://localhost:3030/register">Creá tu cuenta</a>
            <i class="fa-solid fa-id-card"></i>
            <a href="http://localhost:3030/login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
            <a href="#">Mis compras</a>
            <i class="fa-solid fa-basket-shopping"></i>
         </div>
      </nav>
   </header>

   <img class="banner" src="/assets/images/img-home-banner.jpg" alt="banner">

   <main>
      <h3 class="titular">Basado en tu última visita</h3>
      <section class="s-article">
         <article>
            <img src="/assets/images/img-cafetera-moulinex.jpg" alt='Cafetera Moulinex'>
            <ol class="article-box">
               <i class="fa-solid fa-truck"></i>
               <div class="precio-descuento">
                  <li class="precio">$6.770</li>
                  <li class="descuento">40% off</li>
               </div>
               <h3 class="descripcion">Cafetera Moulinex</h3>
            </ol>
         </article>
         <article>
            <img src="/assets/images/img-macbook-pro-2019.jpg" alt='MacBook Pro 2019'>
            <ol class="article-box">
               <i class="fa-solid fa-truck"></i>
               <div class="precio-descuento">
                  <li class="precio">$230.000
                  <li class="descuento">20% off</li>
               </div>
               <h4 class="descripcion">MacBook Pro 2019</h4>
            </ol>
         </article>
         <article>
            <img src="/assets/images/img-samsung-galaxy-s10.jpg" alt='Samsung Galaxy S10'>
            <ol class="article-box">
               <i class="fa-solid fa-truck"></i>
               <div class="precio-descuento">
                  <li class="precio">$70.500</li>
                  <li class="descuento">10% off</li>
               </div>
               <h4 class="descripcion">Samsung Galaxy S10</h4>
            </ol>
         </article>
         <article>
            <img src="/assets/images/img-tv-samsung-smart.jpg" alt='SmartTV Samsung 43"'>
            <ol class="article-box">
               <i class="fa-solid fa-truck"></i>
               <div class="precio-descuento">
                  <li class="precio">$23.200</li>
                  <li class="descuento">5% off</li>
               </div>
               <li>
                  <h4 class="descripcion">SmartTV Samsung 43"</h4>
               </li>
            </ol>
         </article>
      </section>

      <h3 class="titular">Ofertas</h3>
      <section class="s-offer">
         <article>
            <img src="/assets/images/img-cafetera-moulinex.jpg" alt='Cafetera Moulinex'>
            <ol class="offer-box">
               <i class="fa-solid fa-truck"></i>
               <div class="precio-descuento">
                  <li class="precio">$6.770</li>
                  <li class="descuento">40% off</li>
               </div>
               <h4 class="descripcion">Cafetera Moulinex</h4>
            </ol>
         </article>
         <article>
            <img src="/assets/images/img-macbook-pro-2019.jpg" alt='MacBook Pro 2019'>
            <ol class="offer-box">
               <i class="fa-solid fa-truck"></i>
               <div class="precio-descuento">
                  <li class="precio">$230.000</li>
                  <li class="descuento">20% off</li>
               </div>
               <h4 class="descripcion">MacBook Pro 2019</h4>
            </ol>
         </article>
         <article>
            <img src="/assets/images/img-samsung-galaxy-s10.jpg" alt='Samsung Galaxy S10'>
            <ol class="offer-box">
               <i class="fa-solid fa-truck"></i>
               <div class="precio-descuento">
                  <li class="precio">$70.500</li>
                  <li class="descuento">10% off</li>
               </div>
               <h4 class="descripcion">Samsung Galaxy S10</h4>
            </ol>
         </article>
         <article>
            <img src="/assets/images/img-tv-samsung-smart.jpg" alt='SmartTV Samsung 43"'>
            <ol class="offer-box">
               <i class="fa-solid fa-truck"></i>
               <div class="precio-descuento">
                  <li class="precio">$23.200</li>
                  <li class="descuento">5% off</li>
               </div>
               <h4 class="descripcion">SmartTV Samsung 43"</h4>
            </ol>
         </article>
      </section>
   </main>

   <footer>
      <div class="footer">
         <section class="s-footer">
            <i class="fa-solid fa-credit-card"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
               seguro!</p>
         </section>
         <section class="s-footer">
            <i class="fa-solid fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
               Mercado Puntos.</p>
         </section>
         <section class="s-footer">
            <i class="fa-solid fa-user-shield"></i>
            <h5>Seguridad de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
               protegid@.</p>
         </section>
      </div>
      <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
   </footer>
</body>

</html>